/static/anomalies/feature_lection_image1.png
/static/anomalies/feature_lection_image2.png
/static/anomalies/anomalies.csv
/static/anomalies/features.csv
/static/anomalies/local_outlier_factor0.csv
/static/anomalies/local_outlier_factor1.csv
/static/anomalies/local_outlier_factor2.csv
/static/anomalies/local_outlier_factor3.csv
/static/anomalies/local_outlier_factor4.csv
/static/anomalies/merged_local_outlier_factor_file.csv
/static/anomalies/all_anomalies.csv