<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Backtesting</title>
    <!-- Bootstrap core CSS-->
    <link href="{{url_for('static', filename='theme/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{url_for('static', filename='theme/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet"
          type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{url_for('static', filename='theme/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='theme/css/sb-admin.css')}}" rel="stylesheet">
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}
    </style>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">TeamFx</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#backtestingComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-history"></i>
                    <span class="nav-link-text">Backtesting</span>
                </a>
                <ul class="sidenav-second-level collapse" id="backtestingComponents">
                    <li>
                        <a href="/backtesting/">Module</a>
                    </li>
                    <li>
                        <a href="/backtesting/input">Backtest</a>
                    </li>
                    <li>
                        <a href="/backtesting/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Optimize">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#optimizeComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-clock-o"></i>
                    <span class="nav-link-text">Optimization</span>
                </a>
                <ul class="sidenav-second-level collapse" id="optimizeComponents">
                    <li>
                        <a href="/optimization/">Module</a>
                    </li>
                    <li>
                        <a href="/optimization/input">Optimize</a>
                    </li>
                    <li>
                        <a href="/optimization/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Anomalies">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#anomaliesComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-calendar-times-o "></i>
                    <span class="nav-link-text">Black Regions</span>
                </a>
                <ul class="sidenav-second-level collapse" id="anomaliesComponents">
                    <li>
                        <a href="/anomalies/">Module</a>
                    </li>
                    <li>
                        <a href="/anomalies/input">Detect Black regions</a>
                    </li>
                    <li>
                        <a href="/anomalies/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Predict">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#predictComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-line-chart"></i>
                    <span class="nav-link-text">Prediction</span>
                </a>
                <ul class="sidenav-second-level collapse" id="predictComponents">
                    <li>
                        <a href="/predict/">Module</a>
                    </li>
                    <li>
                        <a href="/predict/input">predict</a>
                    </li>
                    <li>
                        <a href="/predict/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="fa fa-fw fa-sign-out"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Backtesting</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Backtesting Trading Strategy</h1>
            </div>
        </div>
        </br>
        <div class="container">
            <div class="row">
                <div class="col-7 card">
                    <div class="card-body">
                            <form action="/backtesting/visualize" method="post">
                                <div class="row">
                                    <label for="Trading Strategy">Trading Strategy:</label>
                                    <select class="form-control" name="strategy" onchange="changeDiv(value)">
                                        <option disabled selected value> Select Trading Strategy</option>
                                        <option value="Moving Average">Moving Average Crossover Strategy</option>
                                        <option value="MACD">MACD</option>
                                        <option value="Fuzzy MACD">Fuzzy MACD</option>
                                        <option value="Bollinger Band">Bollinger Bands</option>
                                        <option value="RSI">Relative Strength Index (RSI)</option>
                                        <option value="Fuzzy RSI"> Fuzzy Relative Strength Index (RSI)</option>
                                        <option value="Fuzzy Moving Average">Fuzzy Moving Average</option>
                                        <option value="Fuzzy Bollinger Band">Fuzzy Bollinger Band</option>
                                        <option value="Stochastic">Stochastic</option>
                                        <option value="Fuzzy Stochastic">Fuzzy Stochastic</option>

                                    </select>
                                </div>
                                </br>
                                <div class="row">
                                    <label for="currency">Currency:</label>
                                    <select class="form-control" name="currency_pair">
                                        <option value="EURUSD">EUR/USD</option>
                                        <option value="EURGBP">EUR/GBP</option>
                                        <option value="EURCHF">EUR/CHF</option>
                                        <option value="AUDUSD">AUD/USD</option>
                                    </select>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="row">
                                    <div class="col-md-6">
                                    <label for="from">From:</label>
                                    <div class="bootstrap-iso">
                                        <div class="container-fluid">
                                            <div class="row">
                                                        <div class="form-group ">
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar">
                                                                        </i>
                                                                    </div>
                                                                    <input class="form-control" id="from_date" name="from_date"
                                                                           placeholder="yyyy.mm.dd" type="text"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    <label for="to">To:</label>
                                    <div class="bootstrap-iso">
                                        <div class="container-fluid">
                                            <div class="row">
                                                        <div class="form-group ">
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar">
                                                                        </i>
                                                                    </div>
                                                                    <input class="form-control" id="to_date" name="to_date"
                                                                           placeholder="yyyy.mm.dd" type="text"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div id="parameters"  style="display:none;">
                                </br>
                                 <div class="row">
                                    <label for="Parameters">Parameters:</label>
                                 </div>
                                </div>
                                <!--Div Moving Average-->
                                <div id="moving_average"  style="display:none;">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <label for="smap">Short Moving Average Period</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" value="200" class="form-control"   name="minShortMA" style="height: 30px;">
                                    </div>
                                </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <label for="lmap">Long Moving Average Period</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" value="300" class="form-control"   name="minLongMA" style="height: 30px;">
                                    </div>
                                </div>
                                </div>

                                <!--Div MACD-->
                                <div id="macd"  style="display:none;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="smap">Short Moving Average Period</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"   name="minShortMAPeriod" style="height: 30px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="lmap">Long Moving Average Period</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"   name="minLongMAPeriod" style="height: 30px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="signalLine">Signal Line</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"   name="minSignalLine" style="height: 30px;">
                                        </div>
                                    </div>

                                </div>

                                 <!--Div Bollinger-->
                                <div id="bollinger"  style="display:none;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="map">Moving Average Period</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" name="minMAPeriod" style="height: 30px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="sd">Standard Deviation</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"  name="minStdDev" style="height: 30px;">
                                        </div>
                                    </div>
                                </div>
                                <div id="RSI"  style="display:none;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="map">RSI-Up window</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" name="rsiUp" style="height: 30px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="sd">RSI-Down window</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"  name="rsiDown" style="height: 30px;">
                                        </div>
                                    </div>
                                </div>
                                <div id="Stochastic"  style="display:none;">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="map">K period</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" name="K_period" style="height: 30px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="sd">D period</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"  name="D_period" style="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="sd">Higher Line</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"  name="higher_line" style="...">
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-md-6">
                                            <label for="sd">Lower Line</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control"  name="lower_line" style="...">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <input class="btn btn-primary" type="submit" value="Backtest"/>
                                </div>

                            </form>
                    </div>
                </div>


            </div>


        </div>


    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © TeamFx 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='theme/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='theme/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='theme/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='theme/js/sb-admin.min.js')}}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script>
	$(document).ready(function(){
		var date_input=$('input[name="from_date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'yyyy.mm.dd',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})

	$(document).ready(function(){
		var date_input=$('input[name="to_date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'yyyy.mm.dd',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})

    </script>
    <script>
        function changeDiv(value) {
             document.getElementById('parameters').style.display = "block";
            if(value==="Moving Average" || value==="Fuzzy Moving Average"){
                document.getElementById('moving_average').style.display = "block";
                document.getElementById('Stochastic').style.display = "none";
                document.getElementById('macd').style.display = "none";
                document.getElementById('bollinger').style.display = "none";
                document.getElementById('RSI').style.display = "none";
            }
            if(value==="MACD" || value==="Fuzzy MACD"){
                document.getElementById('macd').style.display = "block";
                document.getElementById('Stochastic').style.display = "none";
                document.getElementById('moving_average').style.display = "none";
                document.getElementById('bollinger').style.display = "none";
                document.getElementById('RSI').style.display = "none";
            }
            if(value==="Bollinger Band" || value==="Fuzzy Bollinger Band"){
                document.getElementById('bollinger').style.display = "block";
                document.getElementById('Stochastic').style.display = "none";
                document.getElementById('moving_average').style.display = "none";
                document.getElementById('macd').style.display = "none";
                document.getElementById('RSI').style.display = "none";
            }
             if(value==="Fuzzy RSI" || value==="RSI"){
                document.getElementById('RSI').style.display = "block";
                document.getElementById('Stochastic').style.display = "none";
                document.getElementById('moving_average').style.display = "none";
                document.getElementById('macd').style.display = "none";
                document.getElementById('bollinger').style.display = "none";
            }
             if(value==="Stochastic" || value==="Fuzzy Stochastic"){
                document.getElementById('Stochastic').style.display = "block";
                document.getElementById('moving_average').style.display = "none";
                document.getElementById('macd').style.display = "none";
                document.getElementById('bollinger').style.display = "none";
                document.getElementById('RSI').style.display = "none";

            }
        }
    </script>
</div>
</body>

</html>



