<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Black Region Detection|Welcome</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Black Region Detection</h1>
    <h2>Welcome!</h2>
    <p>In this module we detect anomalies, in other words the black regions.</p>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Find Monthly Anormalies, or study the solution pipeline</h5>
            <p class="card-text">Give your own inputs and figure out the black regions.</p>
            <a href="#" class="btn btn-primary">Explore Black Regions</a>
        </div>
    </div>
    <br/>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Let us evaluate he tru abnorma behaviour vs model detected abnormal periods</h5>
            <p class="card-text">The accuray of the model is validated here.</p>
            <a href="#" class="btn btn-primary">Evaluate</a>
        </div>
    </div>
</div>
</body>
</html>