<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="{{url_for('static', filename='theme/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{url_for('static', filename='theme/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet"
          type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{url_for('static', filename='theme/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='theme/css/sb-admin.css')}}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">TeamFx</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#backtestingComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-history"></i>
                    <span class="nav-link-text">Backtesting</span>
                </a>
                <ul class="sidenav-second-level collapse" id="backtestingComponents">
                    <li>
                        <a href="/backtesting/">Module</a>
                    </li>
                    <li>
                        <a href="/backtesting/input">Backtest</a>
                    </li>
                    <li>
                        <a href="/backtesting/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Optimize">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#optimizeComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-clock-o"></i>
                    <span class="nav-link-text">Optimization</span>
                </a>
                <ul class="sidenav-second-level collapse" id="optimizeComponents">
                    <li>
                        <a href="/optimization/">Module</a>
                    </li>
                    <li>
                        <a href="/optimization/input">Optimize</a>
                    </li>
                    <li>
                        <a href="/optimization/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Anomalies">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#anomaliesComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-calendar-times-o "></i>
                    <span class="nav-link-text">Black Regions</span>
                </a>
                <ul class="sidenav-second-level collapse" id="anomaliesComponents">
                    <li>
                        <a href="/anomalies/">Module</a>
                    </li>
                    <li>
                        <a href="/anomalies/input">Detect Black regions</a>
                    </li>
                    <li>
                        <a href="/anomalies/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Predict">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#predictComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-line-chart"></i>
                    <span class="nav-link-text">Prediction</span>
                </a>
                <ul class="sidenav-second-level collapse" id="predictComponents">
                    <li>
                        <a href="/predict/">Module</a>
                    </li>
                    <li>
                        <a href="/predict/input">predict</a>
                    </li>
                    <li>
                        <a href="/predict/evaluate">Evaluate</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="fa fa-fw fa-sign-out"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/anomalies">Anormalies</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Detect</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="#">Feature Selection</a>
            </li>
            <li class="breadcrumb-item active">LOF Map</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Local Outlier Factor Mapper</h1>
                <p> The Local Outlier Factor (LOF) algorithm is an unsupervised outlier detection method which computes
                    the local density deviation of a given data point with respect to its neighbors. It considers as
                    outlier samples that have a substantially lower density than their neighbors.</p>
                <p>At the moment the local outlier have been genereted. To Proceed with Local Outlier Calculation
                Reducer, Click Next.</p>
                <form class="form-group" action="/anomalies/detectlofreducer" method="post">
                    <input type="hidden" name = "currency" value="{{currency}}">
                    <input type="hidden" name="year" value="{{year}}">
                    <input type="hidden" name="from_month" value="{{from_month}}">
                    <input type="hidden" name="to_month" value="{{to_month}}">
                    <button class="btn btn-lg btn-success" type="submit">Next>></button>
                </form>
            </div>
        </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © TeamFx 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='theme/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='theme/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='theme/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='theme/js/sb-admin.min.js')}}"></script>
</div>
</body>

</html>

