<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Black Region Detection|Local Outlier Factors</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Black Region Detection</h1>
    <h2>Local Outlier Factor Reducer</h2>
    <p>The local outlier factors have been calculated and all the features including localoutlier factors are shown below.</p>
    {{features | safe}}
    <p>To Proceed with extracting the gaussin mixture of local coutlier factors and detect black regions, Click Next.</p>
    <form action="/anomalies/detectanomalies" method="get">
        <button class="btn" type="submit">Next>></button>
    </form>
</body>
</html>